<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onik.eduspring.mapper.ActivityMapper">

    <!--根据课程id查询所有活动信息-->
    <select id="getAllById">
        select a.id,a.biz_id, a.title, a.score, a.create_time,a.type,a.status,a.start_time,a.end_time,
               COUNT(ar.id) AS comment_count ,count(sp.student_id) as exam_sum ,count(hw.id) as homework_sum
        from activity a
        LEFT JOIN activity_discussion_record ar ON a.id = ar.activity_id
        left join student_paper sp on sp.activity_id = a.id
        left join homework hw on hw.activity_id = a.id
        where a.course_id = #{id} and a.status != 0
        GROUP BY a.id
    </select>

    <!--发布活动-->
    <insert id="save">
        insert into activity(biz_id,course_id,title, score,create_time,type,status,start_time,end_time)
        values(#{bizId},#{courseId},#{title}, #{score},#{createTime},#{type},#{status},#{startTime},#{endTime})
    </insert>

    <!--根据id逻辑删除活动信息-->
    <update id="delById">
        update activity set status = 0 where id = #{id}
    </update>

    <!--回复活动-->
    <insert id="saveComment">
        insert into activity_discussion_record(activity_id, student_id, submit_time,content)
        values(#{activityId}, #{studentId}, #{submitTime},#{content})
    </insert>

    <!--根据活动id查看活动的评论-->
    <select id="getCommentById">
        select a.id, u.nickname,u.avatar ,a.submit_time,a.content
        from activity_discussion_record a
        left JOIN `user` u ON u.id = a.student_id
        where a.activity_id = #{id}
    </select>

    <!--根据活动id查询活动分数-->
    <select id="getScore">
        select score from activity where id = #{activityId}
    </select>

    <!--根据学生id查询学生是否参与过该活动-->
    <select id="getByActivityId">
        select * from activity_discussion_record where student_id = #{studentId} and activity_id = #{activityId}
    </select>

    <!--根据活动id获取结束时间-->
    <select id="getEndTime">
        select end_time from activity where id = #{id}
    </select>

    <!--设置活动开始时间和结束时间-->
    <update id="setStartAndEndTime">
        update activity set start_time = #{startTime},end_time = #{endTime} where id = #{id} and status != 0
    </update>

    <!--根据活动id获取课程id-->
    <select id="getStartTime">
        select start_time from activity where id = #{activityId}
    </select>

    <select id="getCourseIdById">
        select course_id from activity where id = #{activityId}
    </select>
</mapper>