<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onik.eduspring.mapper.AdminMapper">

    <!--查询所有用户信息-->
    <select id="getAllUsers" resultType="com.onik.eduspring.vo.UserVo">
        SELECT u.id,u.username,u.`password`,u.nickname,u.email,u.phone,r.role,u.avatar,u.`status`,u.create_time,u.update_time FROM `user` u LEFT JOIN role r on u.role = r.id order by r.id ,u.id
    </select>
</mapper>