<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onik.eduspring.mapper.CourseMapper">


    <!--插入课程信息-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into course(title, description, cover, teacher_id, create_time) values (#{title}, #{description}, #{cover}, #{teacherId}, #{createTime})
    </insert>

    <!--根据 id 修改课程信息-->
    <update id="update">
        update course
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="cover != null">cover = #{cover},</if>
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
        </set>
        where id = #{id}
    </update>

    <!--根据标题查询课程信息-->
    <select id="getCourseByTitle" resultType="com.onik.eduspring.vo.CourseVo">
        select c.id, c.title, c.description, c.cover,u.nickname as teacherName, c.create_time
        from course c
        left join user u on c.teacher_id = u.id
        where c.title like concat('%',#{title},'%')
    </select>
</mapper>